<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" use-expressions="true"
		access-denied-page="/negado.jsp">
		<intercept-url pattern="/index.jsf" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/index.jsf" access="hasRole('ROLE_USUARIO')" />
		
		<intercept-url pattern="/pages/cliente/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/cliente/**" access="hasRole('ROLE_USUARIO')" />

		<intercept-url pattern="/pages/viagem/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/viagem/**" access="hasRole('ROLE_USUARIO')" />
		
		<intercept-url pattern="/pages/others/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/others/**" access="hasRole('ROLE_USUARIO')" />

		<intercept-url pattern="/pages/cidade/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/empresa/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/funcao/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/funcionario/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/horario/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/motorista/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/usuario/**" access="hasRole('ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/veiculo/**" access="hasRole('ROLE_ADMINISTRADOR')" />

		<form-login login-page="/login.jsf"
			authentication-failure-url="/login.jsf?erro=true" default-target-url="/index.jsf" />
		<logout logout-url="/logout=true" logout-success-url="/login.jsf"
			invalidate-session="true" />

	</http>

	<authentication-manager>

		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				authorities-by-username-query="SELECT username, authority FROM authorities WHERE username = ?" />
		</authentication-provider>

	</authentication-manager>

	<b:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<b:property name="url" value="jdbc:mysql://localhost:3306/vilelatur" />
		<b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<b:property name="username" value="root" />
		<b:property name="password" value="" />
	</b:bean>

</b:beans>
